.kwadrat-1 {
    color: red;
    height: 150px;
    width: 150px;
}
.kwadrat-2 {
    color: blue;
    height: 150px;
    width: 150px;
}
.kwadrat-3 {
    color: green;
    height: 150px;
    width: 150px;
}
